header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  padding: 1.75rem clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
  background-color: #fff;
}
header .header-logo {
  align-self: center;
}
header nav {
  justify-self: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 37px;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
}
header .invite-header-link {
  justify-self: end;
}

footer {
  background-color: #000;
  padding: clamp(3.5rem, 0.751vw + 3.324rem, 4rem) clamp(2rem, 12.488vw - 0.927rem, 10.313rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer img {
  margin-bottom: 2rem;
}
footer .social-links {
  margin-bottom: 3.125rem;
}
footer .social-links ul {
  display: flex;
  flex-direction: row;
  gap: 13.33px;
  margin: 0;
  padding: 0;
}
footer .social-links ul li {
  list-style-type: none;
}
footer .social-links ul li a svg path {
  fill: #fff;
}
footer .footer-nav {
  margin-bottom: 7.5rem;
}
footer .footer-nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
}
footer .footer-nav ul li {
  list-style-type: none;
}
footer .footer-nav ul li a {
  text-decoration: none;
  color: #fff;
}
footer .footer-invite-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.125rem;
}
footer span {
  color: #fff;
  opacity: 0.5;
}

.cta-beta_container {
  position: relative;
  padding: clamp(4rem, 0.376vw + 3.912rem, 4.25rem) clamp(2rem, 12.488vw - 0.927rem, 10.313rem);
  width: 100vw;
  height: clamp(18rem, -0.751vw + 18.176rem, 17.5rem);
  background-image: url("../../../assets/shared/mobile/bg-beta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cta-beta_container .gradient {
  position: absolute;
  top: 0;
  left: 33px;
  width: 128px;
  height: 6px;
  background: linear-gradient(2deg, rgb(255, 197, 147) 0%, rgb(188, 113, 152) 52%, rgb(90, 119, 255) 100%);
}
.cta-beta_container p {
  font-family: sans-serif;
  font-size: clamp(2rem, 0.751vw + 1.824rem, 2.5rem);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.cta-beta_container .cta-beta-invite-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.cta-beta_container .cta-beta-invite-link a {
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
@media screen and (width >= 768px) {
  .cta-beta_container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../../assets/shared/tablet/bg-beta.jpg");
  }
  .cta-beta_container .gradient {
    top: 0;
    left: 0;
    height: 100%;
    width: 8px;
    background: linear-gradient(80deg, rgb(255, 197, 147) 0%, rgb(188, 113, 152) 52%, rgb(90, 119, 255) 100%);
  }
}
@media screen and (width >= 1440px) {
  .cta-beta_container {
    background-image: url("../../../assets/shared/desktop/bg-beta.jpg");
  }
}

.story {
  position: relative;
  width: 100%;
}
.story picture img {
  -o-object-fit: contain;
     object-fit: contain;
}
.story .story-copy {
  z-index: 1;
  position: absolute;
  width: 292px;
  bottom: 40px;
  left: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.story .story-copy hr {
  margin: 16px 0;
}
.story .story-copy .read-story-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.story .story-gradient {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 375px;
  height: 350px;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}
@media screen and (width >= 1440px) {
  .story .story-gradient {
    width: 360px;
  }
}