header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    padding: 1.75rem clamp(1.5rem, 13.239vw - 1.603rem, 10.313rem);
    background-color: #fff;
    .header-logo {
        align-self: center;
    }
    nav{
        justify-self: center;
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;
            padding: 0;
            gap: 37px;
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                }
            }
        }
    }
    .invite-header-link {
        justify-self: end;
    }
}