.cta-beta_container {
    position: relative;
    padding: clamp(4rem, 0.376vw + 3.912rem, 4.25rem) clamp(2rem, 12.488vw - 0.927rem, 10.313rem);
    width: 100vw;
    background-image: url("/assets/shared/mobile/bg-beta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .gradient {
        position: absolute;
        top: 0;
        left: 33px;
        width: 128px;
        height: 6px;
        background: linear-gradient(2deg,rgba(255, 197, 147, 1) 0%, rgba(188, 113, 152, 1) 52%, rgba(90, 119, 255, 1) 100%);
    }
    p{
        font-family: sans-serif;
        font-size: 32px;
        font-size:clamp(2rem, 0.751vw + 1.824rem, 2.5rem);
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        line-height: clamp(2.5rem, 2.324rem + 0.751vw, 3rem);
        letter-spacing: 4.17px;
    }
    .cta-beta-invite-link {
        justify-self: end;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        cursor: pointer;
        a {
            font-family: sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
        }
        &:hover > a {
            border-bottom: 1px solid #fff;
        }
    }
    @media screen and (width >= 768px) {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        justify-content: space-between;
        background-image: url("/assets/shared/tablet/bg-beta.jpg");
        .gradient {
            top: 0;
            left: 0;
            height: 100%;
            width: 8px;
            background: linear-gradient(80deg,rgba(255, 197, 147, 1) 0%, rgba(188, 113, 152, 1) 52%, rgba(90, 119, 255, 1) 100%);
        }
        p {
            margin-right: clamp(100px, -22.509rem + 62.649vw, 200px);
        }
    }
    @media screen and (width >= 1440px) {
        grid-template-columns: repeat(2, 1fr);
        background-image: url("/assets/shared/desktop/bg-beta.jpg");
    }
}