.page-hero {
    display: flex;
    flex-direction: column;
    picture {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .page-hero_copy {
        background-color: #000;
        color: #fff;
        padding: clamp(4.5rem, 2.299rem + 9.39vw, 10.75rem) clamp(1.75rem, -0.099rem + 7.887vw, 7rem);
        position: relative;
        .gradient {
            position: absolute;
            top: 0;
            left: 33px;
            width: 128px;
            height: 6px;
            background: linear-gradient(2deg,rgba(255, 197, 147, 1) 0%, rgba(188, 113, 152, 1) 52%, rgba(90, 119, 255, 1) 100%);
        }
    }
    @media screen and (width >= 768px) {
        display: grid;
        grid-template-columns:  1fr auto;
        grid-template-rows: 1fr;
        picture {
            order: 2;
        }
        .page-hero_copy {
            order: 1;
            .gradient {
                top: 173px;
                left: 0;
                height: 144px;
                width: 8px;
                // transform: rotate(90deg);
            }
        }
    }
}