.pricing_container {
    padding-top: clamp(4rem, 2.768rem + 5.258vw, 7.5rem);
    padding-left: clamp(1.75rem, -1.265rem + 12.864vw, 10.313rem);
    padding-right: clamp(1.75rem, -1.265rem + 12.864vw, 10.313rem);
    padding-bottom: clamp(4rem, 1.887rem + 9.014vw, 10rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(2.5rem, 2.324rem + 0.751vw, 3rem);
    .pricing-blocks-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 24px;
        @media screen and (width > 1440px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 30px 1fr 30px;
            column-gap: 32px;
            align-content: center;
            .pricing-block {
                grid-area: 2 / 1 / 3 / 2;
            }
            .pricing-block:nth-child(3) {
                grid-area: 2 / 3 / 3 / 4;
            }
            .pricing-block__pro {
                grid-area: 1 / 2 / 4 / 3;
            }
        }
    }
}